/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
                 box-sizing: inherit;
             }

body {
    margin: 0;
    background: url("../images/tv-background.png");
    font-family: "Helvetica Neue", Arial, sans-serif;
        //overflow: hidden;
}
body.rotated {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

}


html {
    
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}



#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(rgba(0,0,0,0), #741a1e);
    overflow: hidden;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 1280px;
    width: 720px;
    margin-left: 280px;
    margin-top: -279px;
}

wb-tv {
    display: block;
    .header-wrap {
        text-align: center;
        padding-top: 50px;
        img {
            width: 463px;
        }
    }
    .bit-wrap {
        width: 506px;
        border: 5px solid #ec4c2e;
        border-radius: 20px;
        background: #ec4c2e;
        overflow: hidden;
        left: 50%;
        margin-left: -253px;
        position: absolute;
        top: 207px;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);

        .image-wrap {
            height: 506px;
            background-position: 50% 50%;
            background-size: cover;
        }
        .bit-avatar {
            width: 66px;
            height: 66px;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 100%;
            border: 5px solid #ec4c2e;
            margin: -33px auto 0;
            background-color: white;
        }
        .title {
            color: white;
            padding: 17px 34px 0px;
            margin-bottom: 34px;
            font-size: 27px;
            max-height: 215px;
            overflow-y: hidden;
            a {
                color: white;
            }
        }
        .author-date-feed-wrap {
            padding: 0 34px;
            margin-bottom: 34px;
            height: 34px;
            img {
                width: 34px;
                height: 34px;
                margin: 0;
                display: block;
                float: left;
            }
            .author-date-wrap {
                height: 
                float: left;
                border-left: 3px solid #c5352a;
                padding: 7px 0 7px 16px;
                height: 47px;
                margin: -7px 0 -7px 50px;
                color: white;
                font-size: 14px;
                line-height: 1.4;
                .date {
                    font-size: 10px;
                }
            }
        }
    }
    .bit-wrap-1 {
        left: 150%;
    }
    .footer {
        height: 50px;
        background: #0f0105;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            display: block;
            width: 50px;
            margin: -25px auto 0;
        }
    }
}

