/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/**
 * Manually adjust social icons in header
 */
.navbar-small nav ul li.nav-social a {
    margin-top: 12px;
}
.embed-outer-wrap {
    background: #f3d1cf;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 200px;
    margin-top: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.hub-wrap {
    background: #b02027;
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
}
body {
    overflow: hidden;
}
